%h3 Category : #{link_to @idea.category.name, category_path(@idea.category)}

%h1 #{@idea.title}

.idea-images
  - @idea.images.each do |image|
    = image_tag image.image_url

.idea-container
  .idea-box
    %p #{@idea.body}

- if current_user?(@idea.user)
  .idea-links
    %p.links
      = link_to "Edit", edit_user_idea_path(@idea.user, @idea), :class => "edit-button"

      = link_to "Delete", user_idea_path(@idea.user, @idea), method: :delete, :class => "delete-button"
