%nav
  %div.home
    = link_to "IdeaBox", root_path
  %div.link
    = link_to "Ideas", ideas_path
  %div.link
    = link_to "Images", admin_images_path
  %div.link
    = link_to "Categories", admin_categories_path
  %div.link
    = link_to "Logout", logout_path, method: :delete
  %div.link
    = link_to "Account", user_path(current_user)
