!!!
%html
  %head
    %title IdeaBox
    = csrf_meta_tags

    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'

  %body
    - if current_user && current_user.admin?
      = render 'layouts/admin_navbar'
    - elsif current_user
      = render 'layouts/user_navbar'
    - else
      = render 'layouts/guest_navbar'

    = yield
